<div ng-controller="toolbarController" layout="column" style="height:100%;" ng-cloak>
  <div layout="row" flex class="content-wrapper">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" flex="15">
      <md-toolbar class="md-hue-4">
        <div class="md-toolbar-tools">
          <h2 flex md-truncate>SuroyBukidnon</h2>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item ng-href="{{'#/home'}}">
          <md-icon class="material-icons md-dark md-24">account_circle</md-icon>
          <p class="md-body-2">Home</p>
        </md-list-item>
        <md-list-item ng-href="{{'#/event'}}">
          <md-icon class="material-icons md-dark md-24">account_circle</md-icon>
          <p class="md-body-2">Event</p>
        </md-list-item>
        <md-list-item ng-href="{{'#/municipality'}}">
          <md-icon class="material-icons md-dark md-24">account_circle</md-icon>
          <p class="md-body-2">Municipality</p>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content layout="column" flex>
      <div class="main">
        <div ng-view></div>
      </div>
    </md-content>
  </div>
</div>
