<md-dialog class="fullscreen-dialog" class="fullscreen-dialog" aria-label="event dialog" flex="45">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Open for menu" class="md-icon-button" ng-click="closeDialog()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
      <p class="dialogTitle">{{dialogTitle}}</p>
      <span flex></span>
      <md-button ng-show="add" ng-click="uploadFile()">Submit</md-button>
      <md-button ng-show="edit" ng-click="uploadFile()">Save</md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout-margin >
    <div layout="row">
      <md-card layout-padding layout="column" flex="50">
        <div ng-show="add" layout="column">
          <md-button class="md-raised" ngf-select="selectCover($file)" accept="image/*" required>Choose Samples</md-button>
          <div style="margin-bottom: 25px;">
            <img ngf-thumbnail="fileCover || './thumb.jpg'" alt="Cover" class="image" ngf-size="{quality:1.0, centerCrop: true}"
            style="height: 300px; width: 100%; display: block; margin: auto; object-fit: cover; line-height: 50px; text-align: center;">
          </div>
        </div>

        <div ng-show="edit" style="margin-bottom: 25px;">
          <div layout="column" ng-hide="coverURL">
            <md-button class="md-raised" ngf-select="selectCover($file)" accept="image/*" required>Choose Samples</md-button>
            <div style="margin-bottom: 25px;">
              <img ngf-thumbnail="fileCover || './thumb.jpg'" alt="Cover" class="image" ngf-size="{quality:1.0, centerCrop: true}"
              style="height: 300px; width: 100%; display: block; margin: auto; object-fit: cover; line-height: 50px; text-align: center;">
            </div>
          </div>

          <div layout="column" ng-show="coverURL" style="position: relative;">
            <img ng-src="{{coverURL}}" alt="Cover" class="image" ngf-size="{quality:1.0, centerCrop: true}"
            style="height: 300px; width: 100%; display: block; margin: auto; object-fit: cover; line-height: 50px; text-align: center;">
            <md-button class="md-icon-button" ng-click="deleteCover(coverName)" style="position: absolute; top: 0; right: 0; color: red;">
              <md-icon class="material-icons">delete_forever</md-icon>
            </md-button>
          </div>
        </div>

        <form name="eventForm">
          <div layout="row">
            <md-input-container class="md-block input-style" flex>
              <label>Event Title</label>
              <input ng-model="title" required>
            </md-input-container>
            <span flex="5"></span>
            <md-button class="md-icon-button" ng-click="star()">
              <md-icon ng-show="starred" class="material-icons" style="color: yellow;">star</md-icon>
              <md-icon ng-hide="starred" class="material-icons">star_border</md-icon>
            </md-button>
          </div>

          <md-input-container class="md-block input-style" flex style="margin-bottom: 0px;">
            <label>Event Location</label>
            <input ng-model="location" required>
          </md-input-container>

          <md-checkbox ng-model="allDay" aria-label="Checkbox All-day">
            All-day
          </md-checkbox>

          <div layout="column" ng-hide="allDay">
            <label>Date</label>
            <div layout="row">
              <md-datepicker ng-model="fromDate" md-placeholder="From" ng-required="!allDay"></md-datepicker>
              <span flex="20"></span>
              <md-datepicker ng-model="toDate" md-placeholder="To" ng-required="!allDay"></md-datepicker>
            </div>

            <label>Time</label>
            <div layout="row">
              <md-time-picker ng-model="time.from" message="message" ng-required="!allDay"></md-time-picker>
              <span flex="10"></span>
              <md-time-picker ng-model="time.to" message="message" ng-required="!allDay"></md-time-picker>
            </div>
          </div>

          <div layout="column" ng-show="allDay">
            <label>Date</label>
            <div layout="row">
              <md-datepicker ng-model="date" md-placeholder="Enter Date" ng-required="allDay"></md-datepicker>
            </div>
            <label>Time</label>
            <div layout="row">
              <md-time-picker ng-model="time.from" message="message" required></md-time-picker>
              <span flex="10"></span>
              <md-time-picker ng-model="time.to" message="message" required></md-time-picker>
            </div>
          </div>

          <div style="margin-top: 25px;">
            <md-input-container class="md-block input-style" flex >
              <label>Event Description</label>
              <textarea ng-model="description" md-maxlength="150" rows="4" md-select-on-focus  required></textarea>
            </md-input-container>
          </div>
        </form>
      </md-card>

      <md-card ng-show="add" layout-padding layout="column" flex="50">
        <div layout="column">
          <md-button class="md-raised" ngf-select="selectSample($files)" accept="image/*" ngf-multiple="true">Choose Samples</md-button>
        </div>
        <div ng-cloak="">
          <md-grid-list  md-cols="4" md-row-height="4:4">
            <md-grid-tile class="yellow" ng-repeat="file in fileSample">
              <img ngf-thumbnail="file || '.jpg'" ngf-size="{quality:1.0, centerCrop: true}"
              style="height: 150px; width: 150px; display: block; margin: auto; object-fit: cover">
            </md-grid-tile>
          </md-grid-list>
        </div>
      </md-card>

      <md-card ng-show="edit" layout-padding layout="column" flex="50">
        <div layout="column">
          <md-button class="md-raised" ngf-select="selectSample($files)" accept="image/*" ngf-multiple="true">Add Samples</md-button>
        </div>

        <div ng-cloak="">
          <md-grid-list  md-cols="4" md-row-height="4:4.5">
            <md-grid-tile ng-repeat="imageURL in imageURLS">
              <div layout="column" style="position: relative;">
                <img ng-src="{{imageURL}}" style="height: 150px; width: 150px; display: block; margin: auto; object-fit: cover">
                <md-button class="md-icon-button" ng-click="deleteSample($index)" style="position: absolute; top: 0; right: 0; color: red;">
                  <md-icon class="material-icons">delete_forever</md-icon>
                </md-button>
              </div>
            </md-grid-tile>
          </md-grid-list>
        </div>

        <div ng-cloak="">
          <md-grid-list  md-cols="4" md-row-height="4:4">
            <md-grid-tile class="yellow" ng-repeat="file in fileSample">
              <img ngf-thumbnail="file || '.jpg'" ngf-size="{quality:1.0, centerCrop: true}"
              style="height: 150px; width: 150px; display: block; margin: auto; object-fit: cover">
            </md-grid-tile>
          </md-grid-list>
        </div>
      </md-card>
    </div>
  </md-dialog-content>
</md-dialog>
