<div ng-controller="homeController" layout="row" ng-cloak layout-wrap>
  <md-card flex="50">
    <md-card-title>
      <md-card-title-text layout="row">
        <span class="md-headline">News</span>
        <span flex></span>
        <md-input-container style="margin: 0px;" md-no-float class="md-block">
          <md-icon class="material-icons">search</md-icon>
          <input class="md-body-1" ng-model="search" ng-focus="query.page = 1" type="text" placeholder="Search">
        </md-input-container>
        <span flex="5"></span>
        <md-button class="md-icon-button" ng-click="addNews($event)">
          <md-tooltip md-direction="{{demo.tipDirection}}">
            Add
          </md-tooltip>
          <md-icon class="material-icons">add</md-icon>
        </md-button>
      </md-card-title-text>
    </md-card-title>
    <div>
      <md-list flex>
        <md-list-item class="md-2-line md-no-proxy secondary-button-padding" ng-repeat="item in news | filter: search" style="margin-top: 5px;">
          <div class="md-list-item-text" style="width: 50%; margin-left: 10px;">
            <h3>{{ item.title }}</h3>
            <p>{{ item.timestamp | date:'medium' }}</p>
          </div>
          <md-menu class="md-secondary" md-offset="0 -7">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button ng-click="edit($event, item)">
                  <span md-menu-align-target>Edit</span>
                </md-button>
                <md-button ng-click="delete($event, item)">
                  <span md-menu-align-target>Delete</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </md-card>
</div>
