<div ng-controller="eventController" layout="row" ng-cloak layout-wrap>
  <md-card flex>
    <!-- main toolbar -->
    <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
      <div class="md-toolbar-tools">
        <div layout="row" flex style="padding-top: 15px;">
          <md-button class="md-icon-button" ng-click="add($event)">
            <md-tooltip md-direction="{{demo.tipDirection}}">
              Add
            </md-tooltip>
            <md-icon class="material-icons">add</md-icon>
          </md-button>

          <span flex></span>

          <md-input-container style="margin: 0px;" md-no-float class="md-block">
            <md-icon class="material-icons">search</md-icon>
            <input class="md-body-1" ng-model="search" ng-focus="query.page = 1" type="text" placeholder="Search">
          </md-input-container>
        </div>
      </div>
    </md-toolbar>
    <!-- option toolbar -->
    <md-toolbar class="md-table-toolbar md-default" ng-show="selected.length">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="selected = []">
          <md-tooltip md-direction="{{demo.tipDirection}}">
            Close
          </md-tooltip>
          <md-icon class="material-icons">close</md-icon>
        </md-button>
        <span flex="5"></span>
        <md-button class="md-icon-button" ng-click="delete($event)">
          <md-tooltip md-direction="{{demo.tipDirection}}">
            Delete
          </md-tooltip>
          <md-icon class="material-icons">delete</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="edit($event)">
          <md-tooltip md-direction="{{demo.tipDirection}}">
            Edit
          </md-tooltip>
          <md-icon class="material-icons">edit</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- table for events -->
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{events.length}}" md-boundary-links="options.boundaryLinks" md-page-select="options.pageSelect" md-on-paginate="logPagination"></md-table-pagination>
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" ng-model="selected">
        <thead md-head fix-head md-order="query.order">
          <tr md-row>
            <th md-column style="width: 2%"></th>
            <th md-column style="width: 28%;"><span>Event Title</span></th>
            <th md-column style="width: 20%;"><span>Date</span></th>
            <th md-column style="width: 30%;">Location</th>
            <th md-column style="width: 20%;">Description</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="event" md-auto-select="options.autoSelect" ng-repeat="event in events | filter: search | limitTo: query.limit : (query.page -1) * query.limit" ng-click="selectRow(event)">
            <td md-cell>
              <md-icon ng-show="event.starred" class="material-icons" style="color: yellow;">star</md-icon>
              <md-icon ng-hide="event.starred" class="material-icons">star_border</md-icon>
            </td>
            <td md-cell class="oneLineText title">{{event.title}}</td>
            <td md-cell ng-show="event.allDay">{{event.date | date}}</td>
            <td md-cell ng-hide="event.allDay">{{event.fromDate | date}} - {{event.toDate | date}}</td>
            <td md-cell class="oneLineText location">{{event.location}}</td>
            <td md-cell class="oneLineText description">{{event.description}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>
</div>
