<md-dialog class="fullscreen-dialog" aria-label="Full Screen Dialog Test">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Open for menu" class="md-icon-button" ng-click="closeDialog()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
      <p class="dialogTitle">{{dialogTitle}}</p>
      <span flex></span>
      <md-button ng-click="uploadFile()">Submit</md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout-margin >
    <div layout="row">
      <md-card layout-padding layout="column" flex="50">
        <div ng-show="add" layout="column">
          <md-button class="md-raised" ngf-select="selectCover($file)" accept="image/*">Choose Cover</md-button>
          <div style="margin-bottom: 25px;">
            <img ngf-thumbnail="fileCover || './thumb.jpg'" alt="Cover" class="image" ngf-size="{quality:1.0, centerCrop: true}"
            style="height: 300px; width: 100%; display: block; margin: auto; object-fit: cover; line-height: 50px; text-align: center;">
          </div>
        </div>

        <div ng-show="edit" layout="column">
          <div layout="column" ng-hide="coverURL">
            <md-button class="md-raised" ngf-select="selectCover($file)" accept="image/*">Choose Cover</md-button>
            <div style="margin-bottom: 25px;">
              <img ngf-thumbnail="fileCover || './thumb.jpg'" alt="Cover" class="image" ngf-size="{quality:1.0, centerCrop: true}"
              style="height: 300px; width: 100%; display: block; margin: auto; object-fit: cover; line-height: 50px; text-align: center;">
            </div>
          </div>

          <div layout="column" ng-show="coverURL" style="position: relative;">
            <img ng-src="{{coverURL}}" alt="Cover" class="image" ngf-size="{quality:1.0, centerCrop: true}"
            style="height: 300px; width: 100%; display: block; margin: auto; object-fit: cover; line-height: 50px; text-align: center;">
            <md-button class="md-icon-button" ng-click="deleteCover(coverName)" style="position: absolute; top: 0; right: 0; color: red;">
              <md-icon class="material-icons">delete_forever</md-icon>
            </md-button>
          </div>
        </div>

        <form name="municipalityItemForm">
          <div layout="row">
            <md-input-container flex="55">
              <label>Title</label>
              <input ng-model="title" required>
            </md-input-container>
            <md-input-container flex>
              <label>Category</label>
              <md-select ng-model="selectedCategories" multiple="" required>
                <md-option ng-value="category" ng-repeat="category in categories">{{category}}</md-option>
              </md-select>
            </md-input-container>
            <md-button class="md-icon-button" ng-click="star()" style="margin-top: 15px;" required>
              <md-icon ng-show="starred" class="material-icons" style="color: yellow;">star</md-icon>
              <md-icon ng-hide="starred" class="material-icons">star_border</md-icon>
            </md-button>
          </div>

          <div layout="row">
            <md-input-container flex>
              <label>Location</label>
              <input ng-model="location" required>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <label>Contact Details</label>
              <input ng-model="contact" required>
            </md-input-container>
            <md-input-container flex>
              <label>Latitude, Longitude</label>
              <input ng-model="latlon" required/>
              <div class="hint" style="color: grey;">
                <a target="_blank" style="text-decoration: none;" href="http://nominatim.openstreetmap.org/search.php">Get the Latitude, Longitude here.</a>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex >
              <label>Description</label>
              <textarea ng-model="description" md-maxlength="150" rows="4" md-select-on-focus  required></textarea>
            </md-input-container>
          </div>
        </form>
      </md-card>

      <md-card ng-show="add" layout-padding layout="column" flex="50">
        <div layout="column">
          <md-button class="md-raised" ngf-select="selectSample($files)" accept="image/*" ngf-multiple="true">Choose Samples</md-button>
        </div>
        <div ng-cloak="">
          <md-grid-list  md-cols="4" md-row-height="4:4">
            <md-grid-tile class="yellow" ng-repeat="file in fileList">
              <img ngf-thumbnail="file || '.jpg'" ngf-size="{quality:1.0, centerCrop: true}"
              style="height: 150px; width: 150px; display: block; margin: auto; object-fit: cover">
            </md-grid-tile>
          </md-grid-list>
        </div>
      </md-card>

      <md-card ng-show="edit" layout-padding layout="column" flex="50">
        <div layout="column">
          <md-button class="md-raised" ngf-select="selectSample($files)" accept="image/*" ngf-multiple="true">Add Samples</md-button>
        </div>

        <div ng-cloak="">
          <md-grid-list  md-cols="4" md-row-height="4:4.5">
            <md-grid-tile ng-repeat="imageURL in imageURLS">
              <div layout="column" style="position: relative;">
                <img ng-src="{{imageURL}}" style="height: 150px; width: 150px; display: block; margin: auto; object-fit: cover">
                <md-button class="md-icon-button" ng-click="deleteSample($index)" style="position: absolute; top: 0; right: 0; color: red;">
                  <md-icon class="material-icons">delete_forever</md-icon>
                </md-button>
              </div>
            </md-grid-tile>
          </md-grid-list>
        </div>

        <div ng-cloak="">
          <md-grid-list  md-cols="4" md-row-height="4:4">
            <md-grid-tile class="yellow" ng-repeat="file in fileSample">
              <img ngf-thumbnail="file || '.jpg'" ngf-size="{quality:1.0, centerCrop: true}"
              style="height: 150px; width: 150px; display: block; margin: auto; object-fit: cover">
            </md-grid-tile>
          </md-grid-list>
        </div>
      </md-card>
  </md-dialog-content>
</md-dialog>
